# Installation of the following packages / libraries are needed to properly utilize Iridium.
python-openstackclient
python-keystoneclient
python-glanceclient
python-novaclient
python-ironicclient
python-heatclient
python-neutronclient
python-cinderclient
python-swiftclient
python-bugzilla
python-manilaclient
#lauchpadlib
python-jenkins
gerritlib
httplib2
#libvirt-python
untangle
pytest
#oslogmerger
PyYAML
confuse
